<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hero.repository.InventoryControlMapper" >
  <resultMap id="BaseResultMap" type="com.hero.entity.InventoryControl" >
    <id column="ic_id" property="icId" jdbcType="INTEGER" />
    <result column="ic_s_id" property="icSId" jdbcType="INTEGER" />
    <result column="ic_e_id" property="icEId" jdbcType="INTEGER" />
    <result column="ic_topnum" property="icTopnum" jdbcType="INTEGER" />
    <result column="ic_downnum" property="icDownnum" jdbcType="INTEGER" />
    <result column="ic_goodnum" property="icGoodnum" jdbcType="INTEGER" />
    <result column="ic_remark" property="icRemark" jdbcType="VARCHAR" />
    <result column="ic_p_id" property="icPId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    ic_id, ic_s_id, ic_e_id, ic_topnum, ic_downnum, ic_goodnum, ic_remark, ic_p_id
  </sql>
  
  <!-- 根据商品id和仓库id判断该仓库下的商品是否设置了上下限(thx)  -->
  <select id="IsExitControlByPidAndSid" resultType="int">
  
        SELECT COUNT(*) FROM i_inventory_control WHERE ic_s_id=#{sid} AND ic_p_id=#{pid}
  </select>
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from i_inventory_control
    where ic_id = #{icId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from i_inventory_control
    where ic_id = #{icId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hero.entity.InventoryControl" >
    insert into i_inventory_control (ic_id, ic_s_id, ic_e_id, 
      ic_topnum, ic_downnum, ic_goodnum, 
      ic_remark, ic_p_id)
    values (#{icId,jdbcType=INTEGER}, #{icSId,jdbcType=INTEGER}, #{icEId,jdbcType=INTEGER}, 
      #{icTopnum,jdbcType=INTEGER}, #{icDownnum,jdbcType=INTEGER}, #{icGoodnum,jdbcType=INTEGER}, 
      #{icRemark,jdbcType=VARCHAR}, #{icPId,jdbcType=INTEGER})
  </insert>
  <!-- 添加某仓库下某商品的上下限数量 (THX)-->
  <insert id="insertSelective" parameterType="com.hero.entity.InventoryControl" >
    insert into i_inventory_control
    <trim prefix="(" suffix=")" suffixOverrides="," >
      
      <if test="icSId != null" >
        ic_s_id,
      </if>
      <if test="icEId != null" >
        ic_e_id,
      </if>
      <if test="icTopnum != null" >
        ic_topnum,
      </if>
      <if test="icDownnum != null" >
        ic_downnum,
      </if>
      <if test="icGoodnum != null" >
        ic_goodnum,
      </if>
      <if test="icRemark != null" >
        ic_remark,
      </if>
      <if test="icPId != null" >
        ic_p_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
     
      <if test="icSId != null" >
        #{icSId,jdbcType=INTEGER},
      </if>
      <if test="icEId != null" >
        #{icEId,jdbcType=INTEGER},
      </if>
      <if test="icTopnum != null" >
        #{icTopnum,jdbcType=INTEGER},
      </if>
      <if test="icDownnum != null" >
        #{icDownnum,jdbcType=INTEGER},
      </if>
      <if test="icGoodnum != null" >
        #{icGoodnum,jdbcType=INTEGER},
      </if>
      <if test="icRemark != null" >
        #{icRemark,jdbcType=VARCHAR},
      </if>
      <if test="icPId != null" >
        #{icPId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <!-- 修改某仓库下某商品的上下限数量(THX) -->
  <update id="updateByPrimaryKeySelective" parameterType="com.hero.entity.InventoryControl" >
    update i_inventory_control
    <set >
      
      <if test="icEId != null" >
        ic_e_id = #{icEId,jdbcType=INTEGER},
      </if>
      <if test="icTopnum != null" >
        ic_topnum = #{icTopnum,jdbcType=INTEGER},
      </if>
      <if test="icDownnum != null" >
        ic_downnum = #{icDownnum,jdbcType=INTEGER},
      </if>
      <if test="icGoodnum != null" >
        ic_goodnum = #{icGoodnum,jdbcType=INTEGER},
      </if>
      <if test="icRemark != null and icRemark != ''" >
        ic_remark = #{icRemark,jdbcType=VARCHAR},
      </if>
     
    </set>
    <where>
	     <if test="icPId != null" >
	        ic_p_id = #{icPId,jdbcType=INTEGER}
	      </if>
	      <if test="icSId != null" >
            and ic_s_id=#{icSId}
         </if>
    </where>
      
      
  </update>
 
</mapper>