<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hero.repository.ProfitMapper" >
  
	<select id="queryProfit" resultType="profit">
			
							SELECT * FROM (
				SELECT amoney-bmoney AS 'profit',btime AS 'times' FROM profitdn,profitpn WHERE YEAR(atime)=YEAR(btime) AND MONTH(atime)=MONTH(btime) AND DAY(atime)=DAY(btime)
				 UNION 
				SELECT -bmoney AS 'profit',btime AS 'times' FROM profitpn WHERE btime NOT IN (
				SELECT atime FROM profitdn,profitpn WHERE YEAR(atime)=YEAR(btime) AND MONTH(atime)=MONTH(btime) AND DAY(atime)=DAY(btime)
				)
				UNION 
				SELECT +amoney AS 'profit',atime AS 'times' FROM profitdn WHERE atime NOT IN (
				SELECT atime FROM profitdn,profitpn WHERE YEAR(atime)=YEAR(btime) AND MONTH(atime)=MONTH(btime) AND DAY(atime)=DAY(btime)
				)
				)AS aa


	</select>
	
</mapper>