<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hero.repository.PurchaseDetailMapper" >
  <resultMap id="BaseResultMap" type="com.hero.entity.PurchaseDetail" >
    <id column="pd_id" property="pdId" jdbcType="INTEGER" />
    <result column="pd_pn_id" property="pdPnId" jdbcType="VARCHAR" />
    <result column="pd_sh_id" property="pdShId" jdbcType="INTEGER" />
    <result column="pd_p_id" property="pdPId" jdbcType="INTEGER" />
    <result column="pd_ps_id" property="pdPsId" jdbcType="INTEGER" />
    <result column="pd_quantity" property="pdQuantity" jdbcType="INTEGER" />
    <result column="pd_unitprice" property="pdUnitprice" jdbcType="DECIMAL" />
    <result column="pd_s_id" property="pdSId" jdbcType="INTEGER" />
    <result column="pd_amount" property="pdAmount" jdbcType="DECIMAL" />
    <result column="pd_state" property="pdState" jdbcType="INTEGER" />
    <!--商品信息映射设置(rfy) -->
	<association property="product" resultMap="com.hero.repository.ProductMapper.BaseResultMap"></association>
    <!--供应商信息映射设置(rfy) -->
	<association property="supplier" resultMap="com.hero.repository.SupplierOrCustomerMapper.BaseResultMap"></association>
	<!--商品规格映射设置(rfy) -->
	<association property="productspec" resultMap="com.hero.repository.ProductSpecMapper.BaseResultMap"></association>
	
  </resultMap>
  <sql id="Base_Column_List" >
    pd_id, pd_pn_id, pd_p_id, pd_ps_id,pd_quantity, pd_unitprice, pd_s_id, pd_amount
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from i_purchasedetail
    where pd_id = #{pdId,jdbcType=INTEGER}
  </select>
  <!-- 删除采购信息(rfy) -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from i_purchasedetail
    where pd_id = #{pdId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hero.entity.PurchaseDetail" >
    insert into i_purchasedetail (pd_id, pd_pn_id, pd_p_id, 
      pd_quantity, pd_unitprice, pd_s_id, 
      pd_amount)
    values (#{pdId,jdbcType=INTEGER}, #{pdPnId,jdbcType=VARCHAR}, #{pdPId,jdbcType=INTEGER}, 
      #{pdQuantity,jdbcType=INTEGER}, #{pdUnitprice,jdbcType=DECIMAL}, #{pdSId,jdbcType=INTEGER}, 
      #{pdAmount,jdbcType=DECIMAL})
  </insert>
  
  <!-- 添加采购详情(rfy) -->
  <insert id="insertSelective" parameterType="com.hero.entity.PurchaseDetail" >
    insert into i_purchasedetail
    <trim prefix="(" suffix=")" suffixOverrides="," >
     
      <if test="pdPnId != null" >
        pd_pn_id,
      </if>
      <if test="pdPId != null" >
        pd_p_id,
      </if>
      <if test="pdPsId != null" >
        pd_ps_id,
      </if>
      <if test="pdQuantity != null" >
        pd_quantity,
      </if>
      <if test="pdUnitprice != null" >
        pd_unitprice,
      </if>
      <if test="pdSId != null" >
        pd_s_id,
      </if>
      <if test="pdAmount != null" >
        pd_amount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      
      <if test="pdPnId != null" >
        #{pdPnId,jdbcType=VARCHAR},
      </if>
      <if test="pdPId != null" >
        #{pdPId,jdbcType=INTEGER},
      </if>
      <if test="pdPsId != null" >
        #{pdPsId,jdbcType=INTEGER},
      </if>
      <if test="pdQuantity != null" >
        #{pdQuantity,jdbcType=INTEGER},
      </if>
      <if test="pdUnitprice != null" >
        #{pdUnitprice,jdbcType=DECIMAL},
      </if>
      <if test="pdSId != null" >
        #{pdSId,jdbcType=INTEGER},
      </if>
      <if test="pdAmount != null" >
        #{pdAmount,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <!-- 修改采购详情(rfy) -->
  <update id="updateByPrimaryKeySelective" parameterType="com.hero.entity.PurchaseDetail" >
    update i_purchasedetail
    <set >
      <if test="pdPnId != null" >
        pd_pn_id = #{pdPnId,jdbcType=VARCHAR},
      </if>
      <if test="pdShId != null" >
        pd_sh_id = #{pdShId,jdbcType=INTEGER},
      </if>
      <if test="pdPId != null" >
        pd_p_id = #{pdPId,jdbcType=INTEGER},
      </if>
      <if test="pdQuantity != null" >
        pd_quantity = #{pdQuantity,jdbcType=INTEGER},
      </if>
      <if test="pdUnitprice != null" >
        pd_unitprice = #{pdUnitprice,jdbcType=DECIMAL},
      </if>
      <if test="pdSId != null" >
        pd_s_id = #{pdSId,jdbcType=INTEGER},
      </if>
      <if test="pdAmount != null" >
        pd_amount = #{pdAmount,jdbcType=DECIMAL},
      </if>
    </set>
    where pd_id = #{pdId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hero.entity.PurchaseDetail" >
    update i_purchasedetail
    set pd_pn_id = #{pdPnId,jdbcType=VARCHAR},
      pd_p_id = #{pdPId,jdbcType=INTEGER},
      pd_quantity = #{pdQuantity,jdbcType=INTEGER},
      pd_unitprice = #{pdUnitprice,jdbcType=DECIMAL},
      pd_s_id = #{pdSId,jdbcType=INTEGER},
      pd_amount = #{pdAmount,jdbcType=DECIMAL}
    where pd_id = #{pdId,jdbcType=INTEGER}
  </update>
  
  
  
  <!-- 根据采购单号查询是否包含商品详情(rfy) -->
  <select id="selDetailByPid" resultType="int" parameterType="java.lang.String" >
    select count(*)
    from i_purchasedetail
    where pd_pn_id = #{pid}
  </select>
  <!--根据采购单号删除详情信息(rfy)  -->
  <delete id="delDtailByPid" parameterType="java.lang.String" >
    delete from i_purchasedetail
    where pd_pn_id = #{pid}
  </delete>
  
  <!-- 根据采购单号、商品编号、商品规格编号查询该条详情记录(rfy)-->
  <select id="queryByPurIdAndPid" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from i_purchasedetail
    where pd_pn_id = #{pnid} and pd_p_id=#{pid} and pd_ps_id=#{psid}
  </select>
  
  <!-- 批量删除采购信息(rfy) -->
  <delete id="deleteByPdIdList" parameterType="java.lang.Integer" >
    delete from i_purchasedetail
    where pd_id in
    <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
			#{item}
	</foreach>
  </delete>
  
  
  <!-- 根据仓库编号查询采购单编号(rfy) -->
  <select id="selPnIdsByShId" resultType="String" parameterType="java.lang.Integer" >
    SELECT pd_pn_id FROM i_purchasedetail WHERE pd_sh_id=#{shid}
  </select>
  
  
  
  
  
  
</mapper>